# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# .NET
**/bin/
**/obj/
**/*.user
.vs/
.vscode/

# Node
**/node_modules/
**/dist/
**/.cache/
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates

src/backend/CryptoFinData.API/logs/
