<div class="card">
    <div class="mb-4">
      <h2 class="text-xl font-semibold text-gray-800">Bitcoin Price History (USD)</h2>
      <p class="text-sm text-gray-600">Select period:</p>
      <div class="mb-4">
        <select [(ngModel)]="selectedPeriod" (change)="onPeriodChange($event)" class="border px-3 py-2 rounded">
            <option value="7">Last 7 days</option>
            <option value="30">Last 30 days</option>
            <option value="90">Last 3 months</option>
            <option value="180">Last 6 months</option>
          </select>
          
      </div>
    </div>
  
    <div class="chart-container">
      <canvas #chartCanvas></canvas>
    </div>
  </div>
  